body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;

    background-image: url("B5617B87-1E02-4AE8-AA24-F3EC91B29929.jpg");
    background-position: center;
}
#start {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    height: 100vh;
}
img {
    justify-self: center;
    align-self: center;
    max-width: 80%;
}
.start-button {
    justify-self: center;
    margin-top: 20px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 2.4rem;
    cursor: pointer;
}
#start p {
    justify-self: center;
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}
#story {
    opacity: 0;
    text-align: center;
    color: white;
}
#story.show {
    opacity: 1;
}
