body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-image: url("B5617B87-1E02-4AE8-AA24-F3EC91B29929.jpg");
    background-position: center;
}
#start {
    position: relative;
    height: 100vh;
}
#start img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    max-width: 80%;
}
.wakiyaku {
    position: abusolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    tezt-align: center;
    color: white;
}
.start-button {
    width: 220px;
    cursor: pointer;
    transition:0.3s;
}
#start p {
    justify-self: center;
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}
#story {
    opacity: 0;
    text-align: center;
    color: white;
}
#story.show {
    opacity: 1;
}
